script type="text/ng-template" id="/templates/leaf.html"
  .tree-node.element-template[ui-tree-handle]
    .tree-node-content
      | {{node.title}}
  ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}"
    li[ng-repeat="node in node.nodes" ui-tree-node ng-include="'element_template.html'"]
script type="text/ng-template" id="builder_template.html"
  .tree-node.builder-template
    .pull-left.tree-handle[ui-tree-handle]
      span.glyphicon.glyphicon-list
    .tree-node-content
      | {{node.title}}
      select ng-model="node.selected" ng-options="o as o for o in node.value"
      / <h3>Data binding</h3>
        <pre class="code">{{ builder | json }}</pre>


  ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}"
    li[ng-repeat="node in node.nodes" ui-tree-node ng-include="'builder_template.html'"]
#builde-container data-ng-controller="Builder"
  .row
    .col-sm-9.row-builder
      #builder-tree.angular-ui-tree-empty-parent[ui-tree]
        ol ui-tree-nodes="" ng-model="builder"
          li.builder-template[ng-repeat="node in builder" ui-tree-node ng-include="'builder_template.html'"]
    .col-sm-3.row-element
      #element-tree[ui-tree]
        ol ui-tree-nodes="" ng-model="column"
          li.element-template[ng-repeat="node in column" ui-tree-node ng-include="'/templates/leaf.html'"]
      .button.create ng-click="apply(builder)" Apply
      br
      input.form-control.input-lg type="text" placeholder="Save as a preset"
      hr
      br
      span.help-block
        a href="#" Learn more
        |  about JumboJet Visual Query Language.
      span.help-block
        | Feel free to 
        a href="#" contact us
        |  if you have any problems or questions.
