<div class="charts" ng-controller="Charts">
  <br>
  <button type="button" class="btn btn-default"
    data-ng-click="backToTheBuilder()">Back to the builder</button>

  <div class="btn-group pull-right">
    <button type="button" class="btn btn-default"
      data-ng-click="changeChartStyle('lineChart')"
      data-ng-class="{active:currentChartStyle == 'lineChart'}">Line chart</button>

    <button type="button" class="btn btn-default"
      data-ng-click="changeChartStyle('barChart')"
      data-ng-class="{active:currentChartStyle == 'barChart'}">Bar chart</button>

    <button type="button" class="btn btn-default">Pie chart</button>
  </div>

  <nvd3-line-chart ng-if="currentChartStyle == 'lineChart'"
      data="lineChartData"
      id="exampleId"
      width="900"
      height="350"
      showXAxis="true"
      showYAxis="true">
  </nvd3-line-chart>

  <nvd3-pie-chart ng-if="currentChartStyle == 'pieChart'"
    data="exampleDataPie"
    id="exampleIdPie"
    x="xFunction()"
    y="yFunction()"
    width="550"
    height="350"
    showLabels="true"
    pieLabelsOutside="false"
    showValues="true"
    labelType="percent"
    showLegend="true">
    <svg></svg>
    </nvd3-pie-chart>

  <nvd3-discrete-bar-chart ng-if="currentChartStyle == 'barChart'"
    data="lineChartData"
      id="exampleId"
      showXAxis="true"
      showYAxis="true"
      width="950"
      height="400">
        <svg></svg>
   </nvd3-discrete-bar-chart>

   <table class="table table-bordered data-chart">
     <thead>
       <tr>
         <th>#</th>
         <th>Дата</th>
         <th>Диапозон суммы</th>
         <th>Город</th>
         <th>Провайдер</th>
       </tr>
     </thead>
     <tbody>
       <tr ng-repeat="row in transactionsToShow()">
         <th>{{ row.phone_id }}</th>
         <th>{{ row.date }}</th>
         <th>{{ row.range }}</th>
         <th>{{ row.city_name }}</th>
         <th>{{ row.provider }}</th>
       </tr>
     </tbody>
   </table>

   {{ rootScope.lineChartData }}
</div>
