.container.bs-docs-container.demo-3 ng-controller="IndexController"
  .row
    .sidebar
      #dl-menu.dl-menuwrapper
        button.dl-trigger Open Menu
        ul.dl-menu
          li ng-repeat="element in arr"
            a href="#"
              | {{element.menuName}}
            ul.dl-submenu
              li ng-repeat="subName in element.elements"
                a href="#"
                  | {{subName}}
              li.create
                a href="/builder/" Create new
      .navbar
    .col-md-12.main-container
      div.main-content data-ui-view="content"
script
 |   $(function () {
        $('#dl-menu').dlmenu();
    });
