.angular-ui-tree-empty {
    border: 1px dashed #bbb;
    min-height: 150px;
    background: #fff;
}

.angular-ui-tree-nodes {
	display: block;
	position: relative;
	margin: 0px;
	padding: 0px;
	list-style: none;
  padding-top: 2px;
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 20px;
}
.angular-ui-tree-node, .angular-ui-tree-placeholder {
	display: block;
	position: relative;
	margin: 0px;
	padding: 0px;
	min-height: 20px;
	line-height: 20px;
}

.angular-ui-tree-hidden {
    display: none;
}

.angular-ui-tree-placeholder {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
}

.angular-ui-tree-handle {
    cursor: move;
    text-decoration: none;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 20px;
    line-height: 20px;
}

.angular-ui-tree-drag {
    position: absolute;
    pointer-events: none;
    z-index: 999;
    opacity: .8;    
}

.pull-left {
  border: 0;
}
