/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require nv.d3
 *= require_tree .
 */

html, body, .container {
  height: 100%;
}

.container {
  background: #f6f5f4;
  /* overflow: hidden; */
}

li.element-template {
  padding-bottom: 5px;
}

.btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 0;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

.sidebar .navbar {
  width: 70px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #394e63;
  z-index: 2;
  border-radius: 0;
  margin: 0;
}

.main-content {
  padding-left: 90px;
}

.dl-menuwrapper {
  position: absolute;
  padding-left: 10px;
  z-index: 3;
}

.row .row-builder, .row .row-element {
  padding-top: 15px;
}

.row .row-builder {
  padding-left: 0px;
}

.row .row-element {
  padding-right: 20px;
}

.create {
  background-color: #a5b830;
}

.button {
  line-height: 40px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.form-group.builder-tree {
  margin: 0;
  height: 40px;
}

.image-click {
  padding-top: 10px;
  margin-left: -30px;
}

.image-logo {
  max-width: 50%;
  margin: auto;
  padding-top: 40px;
}

.image-logo img {
  width: 100%;
}

.main-container {
 background: #f6f5f4;
}

.table > thead > tr > th {
  border: 1px solid #aaa;
}
