doctype html
html xmlns:ng="http://angularjs.org" class="ng-app:jumbojet" ng-app="jumbojet" id="ng-app"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    meta name="cities" content= "#{CITIES}"
    meta name="providers" content= "#{PROVIDERS}"
    title= "#{t(:'app.title')}"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  body
    = yield
